html {
  background-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

label.label-first {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
div.info-one {
  padding-bottom: 0.5rem;
}
div.info-two {
  padding-bottom: 0.5rem;
}
div.info-three {
  padding-bottom: 0.5rem;
  text-align: center;
}
input {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 0.6em;
}
input:focus {
  border-color: #86b7fe;
  box-shadow: 0px 0px 1px 3px #b9d3fa;
  outline: none;
}

button {
  background-color: #0d6efd;
  border-radius: 100px;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #ced4da;
  color: white;
  font-size: 15px;
  display: block;
}

p {
  text-align: center;
  color: grey;
  margin-top: 6px;
}

input[type="email"] {
  border-color: #70b0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}
