body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background: gold;
    /* transition: transform 0.5s linear 1s; */
    transition: transform 0.5s, background 0.5s;
  }
 
.box:hover {
    transform: rotate(45deg);
    background: dodgerblue;
}