body {
  /* margin: 10px; */
  margin: 10px;
  height: 200vh;
}
.boxes {
  border: 3px solid lightgrey;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}
.box-one {
  background: gold;
}
.box-two {
  background: tomato;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto;
  z-index: 99999;
}
.box-three {
  background: dodgerblue;
}
