 *, *::before, *::after {
     box-sizing: border-box;
 }

body {
    margin: 10px;
}
.box::before {
    content: "Hello";
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    display: inline-block;
}