html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  /* margin: 10px; */
  margin: 0px;
}
.box {
  /*% 50% of the width of the parent(body element) */
  /* em 10 x font size of the current element (10x16px=160px) */
  /*rem 10x font size of root element */
  width: 15rem;
  height: 100vh;
  background-color: gold;
  border-top: 3px solid orange;
}
