body {
  background: url(../images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
  background-size: cover;
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

h1 {
  font-size: 94px;
  font-family: "Poppins", sans-serif;
  color: floralwhite;
  word-spacing: 2rem;
  /* text-align: center; */
  text-shadow: 3px 3px black;
}

p {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: floralwhite;
  word-spacing: 0.5rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
