.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  align-items: center;
  
}

.nav__list {
  width: 100%;
  margin: 0;
  

/* Main Black */

color: #181717;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #1f1f22;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: dodgerblue;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(20px);
  transform: translateX(-120px);
}

.rotatelogo:hover {
  transform: rotate(-50deg);
  transition: transform 1s ease-out;  
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
   
  .nav.container {
    margin-top: 30px;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
/* or 25px */

letter-spacing: -0.03em;

/* Main Black */

color: #181717;
    max-height: 100%;
    opacity: 1;
    
  }

  .nav__list:hover {
    color: dodgerblue;
  }


  .nav__item {
    border: 0;
  }
}
