*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  font-family:'DM Sans', sans-serif;;
  font-size: 2.4rem;
  color: var(--color-body);
  line-height: 1.5;
  background-color: #fff;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

